img {
    height: 200px;
    margin: 5px;
}

h3, button {
    margin: 12px 0;
}

button{
    padding: 8px;
}

.jumbotron{
    padding: 32px;
}

.main-container{
    margin: auto;
    width: 84%;
}

.images{
    display: flex;
    justify-content: space-evenly;
    min-height: 210px;
    margin-bottom: 30px;
}

/* .col-defeated{
    max-width: 25%;
} */

.box{
    border-right: 3px solid black;
}

.box:last-child{
    border-right: none;
}